@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto+Slab:wght@200;300;400;500;600;700;800&family=VT323&display=swap');

.home {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    scroll-behavior: smooth;

    flex-direction: column;
}

.home>.topSec>.logoMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoMain>img {
    width: 353px;
}

.logoMain>:nth-child(2) {
    width: 26px;
    display: none;
}

.midSec {}

.midSec>.videoLayer>video {
    width: 100%;

}

.midSec>.videoLayer {
    position: relative;
    /* object-fit: cover; */
    height: 862px;

}

.midSec>.videoLayer>video {
    position: absolute;
    z-index: 0;
    height: inherit;
    object-fit: cover;
}

.mid2Sec {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: -16px;
}

.mid2Sec>.layer_mid2Sec {}

.boatSection {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 25px;
    padding: 22px 0px;
    justify-content: center;
    background-color: #b5d3f9;
}

.boat1,
.boat2,
.boat3,
.boat4 {
    border-radius: 6px;

}

.nextPartBoat {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
}

.nextPart1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #ffff;
}

.nextPartBoat>img {
    width: 200px;
    border-radius: 16px;
}

.boxBoat1 {
    background: url('../Images/bgBoat3.jpg');
    background-size: cover;
    filter: drop-shadow(2px 4px 6px black);
}

.boat1>.boxBoat1 {
    float: right;
    margin: 2px 40px;

    padding: 22px 24px;
}

.boat2>.boxBoat1 {
    float: left;
    margin: 2px 40px;
    padding: 22px 24px;
}

.boat3>.boxBoat1 {
    float: right;
    margin: 2px 40px;
    padding: 22px 24px;
}

.boat4>.boxBoat1 {
    float: left;
    margin: 2px 40px;
    padding: 22px 24px;
}

.boxBoat1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.boxBoat1>:nth-child(1) {
    width: max-content;
    font-size: 36px;
    color: #ffff;
    font-weight: 800;
}

.nextPart1>:nth-child(1) {
    font-size: 27px;
    font-weight: 600;
    max-width: 412px;
}

.nextPart1>:nth-child(2) {
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
}

.nextPart1>:nth-child(3) {
    max-width: 371px;
    font-size: 13px;
    font-weight: 600;
    color: #fbfcfd;
    font-style: italic;
}

.nextPart1>:nth-child(4) {

    font-weight: 100;
    color: #fafafa;

}



.mid2Sec>.layer_mid2Sec>.head1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mid2Sec>.layer_mid2Sec>.head1>:nth-child(1) {
    font-size: 52px;
    font-weight: 800;
}

/* .mid2Sec>.layer_mid2Sec>.head1>:nth-child() {
    font-size: 52px;
    font-weight: 800;
} */

.mid2Sec>.layer_mid2Sec>.head1>:nth-child(2) {
    font-size: 10px;
    font-weight: 600;
}

.layer2_mid2Sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.layer2_mid2Sec>span {
    font-size: 52px;
    font-weight: 800;
    /* margin-right: 66px; */
}

.contactHead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.contactHead>span {
    font-size: 52px;
    text-align: center;
    font-weight: 800;
    /* margin-right: 66px; */
}

.galleryHeading {
    font-size: 52px;
    font-weight: 800;
    text-align: center;
    /* margin-right: 66px; */
}

.layer2_mid2Sec>.gallerySection {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    margin: 10px 240px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.gaal1,
.gal2,
.gal3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px 10px;

}

.awssld {
    width: fit-content !important;

}

.gaal1>img {
    width: 300px;
    /* height: 252px; */
}



.gal2>img {
    /* height: 252px; */
    width: 300px;
}

.gal3>img {
    /* height: 252px; */
    width: 300px;
}



.lineBar {
    height: 5px;
    width: 100%;
    background-color: #cacaca;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Contact US */
.bottomSec {
    /* background-color: #d3e6fd; */
    background: url('../Images/wave.png');
    padding: 50px 40px;
    /* background-size: cover; */
    background-position-y: bottom;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    gap: 50px;
}

.contactUsForm {
    padding: 27px 38px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.contactUsForm>span {
    font-size: 30px;
    font-weight: 500;
    color: #5f6666;
}

.contactUsForm>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactUsForm>form>input {
    width: 31rem;
    padding: 20px 13px;
    border: 1px solid #a6b9d0;
    font-size: 17px;
    border-radius: 10px;
}

.contactUsForm>form>button {
    width: 92px;
    padding: 10px 10px;
    border: none;
    background-color: #5695e2;
    border-radius: 8px;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    /* margin-left: 50%; */
    cursor: pointer;
}

.contactUsForm>form>button:hover {

    background-color: #ffff;
    border: 2px solid #5695e2;
    color: #5695e2;
    transition: 200ms ease-in;

}

.nav {}

.awssld__bullets button {

    background: #ffffff !important;
}

.nav>ul {
    margin: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.map>iframe {
    width: 550px;
    height: 346px;
}

.nav>ul>li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;

}

.nav>ul>li>a {
    text-decoration: none;
    color: #000000;
    scroll-behavior: smooth;
    transition-delay: 500ms;

}

.nav>ul>li:hover {
    cursor: pointer;
}

.layer1 {
    /* position: relative; */
    margin-bottom: 20px;
}


/* review */

.reviewSection {
    background-color: #b5d3f9;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;


}

.footer {
    margin-top: 80px;
}

.footer>img {
    width: -webkit-fill-available;
}

.reviewSection>div>.container_rev {
    /* background-color: #012f6b; */
    background: url('../Images/bgBoat3.jpg');
    filter: drop-shadow(2px 4px 6px black);

    background-size: cover;
    width: 75%;
    margin: 27px 0px;
    border-radius: 11px;
    padding: 19px 14px;
    color: #ffff;
    margin-bottom: 57px;

}

.container_rev>img {
    width: 192px;
    margin-top: -63px;
}

.container_rev>.caroSec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 60px 50px;
}

.container_rev>.caroSec>.revMenu {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.revMenu>:nth-child(1) {
    font-weight: 600;
    font-size: 18px;

}

.revMenu>:nth-child(2) {
    font-weight: 400;
    font-size: 11px;

}

.revMenu>:nth-child(3) {
    font-weight: 500;
    font-size: 11px;

}

/* carosoole */
.carosoulSec {
    display: flex;
    gap: 10px;
    width: 820px !important;
    align-items: center;
    justify-content: center;
}

.carousel-root {
    width: -webkit-fill-available;
    outline: none;
}

.awssld__content {
    background: none !important;
}

.awssld__container {
    width: 240px !important;
    height: 194px !important;
}

.carousel {
    scroll-behavior: smooth !important;
}

.carousel>ul {
    gap: 27px;
}

.carousel>ul>li {
    /* display: inline-block;
    width: 44%;
    flex-shrink: 0;
    height: fit-content; */

}

@media (max-width: 768px) {
    .carousel-root {
        width: 300px;
        outline: none;
    }

    .logoMain>img {
        width: 199px;
    }

    .contactUsForm>form>input {
        width: max-content;
    }


    .container_rev>.caroSec>.revMenu {
        width: auto;

    }

    .gaal1,
    .gal2,
    .gal3 {
        flex-wrap: wrap;
    }

    .map>iframe {
        width: fit-content;

    }

    .caroSec {
        flex-wrap: wrap;
    }

}

@media (min-width: 768px) {
    .gaal1>:nth-child(1) {
        width: 599px;
    }

    .bigImg2 {
        width: 604px !important;
    }
}

@media (max-width:497px) {
    .logoMain>:nth-child(2) {
        display: block;
    }

    .nextPartBoat {
        flex-direction: column-reverse;
    }
    .nextPartBoat>img {
        width: 100%;
    }

    .visibleji {
        display: block;
        background-color: #1a8dc687;
        padding: 14px 0px;
    }

    .layer1 {
        margin-bottom: 20px;
        position: absolute;
        width: -webkit-fill-available;
        margin-top: 42px;
        z-index: 1;
    }

    .invisible {
        display: none;
    }

    .layer1>.nav>ul {
        flex-direction: column;
        flex-direction: column;
        padding-top: 4px;
        gap: 9px;
    }

    .home>.topSec>.logoMain {
        justify-content: space-between;
        margin: 0px 14px;
    }
}

@media (max-width:1500px) {
    .bottomSec {
        flex-wrap: wrap;
    }

    .boatSection {
        flex-wrap: wrap;
    }

}

@media (min-width:2000px) {
    .revMenu>:nth-child(1) {
        font-size: 41px;
    }

    .revMenu>:nth-child(2) {
        font-size: 32px;
    }

    .revMenu>:nth-child(3) {
        font-weight: 800;
        font-size: 25px;
    }
}

@media (max-width:410px) {
    .carosoulSec {

        width: 186px !important;

    }

}