.Carousole {
    background-color: #ffff;
    border-radius: 8px;
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.Carousole>img {
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.Carousole>:nth-child(3) {
    background-color: #ffff;
    padding: 14px 23px;
    font-size: 10px;
    font-weight: 500;

}

.Carousole>:nth-child(2) {
    width: 70px !important;
    margin-top: -27px;
    margin-left: 10px;
    margin-bottom: -9px;
}


.Carousole>:nth-child(4) {
    background-color: #ffff;
    padding: 0px 23px;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 12px;
}